---
import Default from '../layouts/Default.astro';
import Panel from "../components/Panel.astro";
---
<Default title="Walentynki - Koniec">
    <Panel>
        <div class="space-y-4">
            <p class="text-center text-4xl font-medium">Dziękuje Ci za to, że jesteś!</p>
            <p class="text-center text-4xl font-medium">Kocham Cię!</p>
        </div>
    </Panel>
</Default>