---
import Default from '../layouts/Default.astro';
import Panel from '../components/Panel.astro';
import Part1 from "./index.astro";
import Part2 from "./step2.astro";
---

<Default title="Walentynki 2024">
    <main>
        <Panel>
            <Part1 />
            <Part2 />
        </Panel>
    </main>
</Default>

@todo
- zakonczenie
- wrzutka na strone